/* body{
  background: url("https://media2.giphy.com/media/9uIGW7P8Ox6swA5Vw7/giphy.gif?cid=ecf05e47zi3ohtb9bijkt92uxg8wc6mwv2tbp9acv5dj5lpg&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
  color: #fff;
} */
/* body{
  background: url("https://media2.giphy.com/media/9uIGW7P8Ox6swA5Vw7/giphy.gif?cid=ecf05e47zi3ohtb9bijkt92uxg8wc6mwv2tbp9acv5dj5lpg&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
  color: #fff;
} */
*{
  margin: 0;


}


.links{
  display: flex;
  flex-direction: row;
  gap: 10px;
  position: relative;
  left: 50rem;
  top: 5rem;

}

.link{
  color: aqua;
  text-decoration: none;
}

.home{
  height: 50vh;
  width: 30vw;
}

.blog-preview{
  height: 80vh;
  width: 50vw;
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  border-radius: 5px;
  column-gap: 10px;

}


.App.dark {
  --font-color: rgb(255, 255, 255);
  --background: rgb(50, 50, 50);
  --background--light: rgb(80, 80, 80);
  transition: all 0.3s;
}

.App {
  min-height: 100vh;
  max-width: 100vw;
  background: var(--background);
  color: var(--font-color);

}

