body{
  background: url("https://media2.giphy.com/media/9uIGW7P8Ox6swA5Vw7/giphy.gif?cid=ecf05e47zi3ohtb9bijkt92uxg8wc6mwv2tbp9acv5dj5lpg&ep=v1_gifs_related&rid=giphy.gif&ct=g");
  background-repeat: no-repeat;
  background-size: cover;
}

.home{
  color: #fff;
}


